[color]
	ui = true
	status = auto
	branch = auto
[core]
	editor = vim
	autocrlf = input
[merge]
	conflictstyle = diff3
[user]
	name = Aleksander Grzybowski
	email = ifyouseethis@tellmeplease.it
	useconfigonly = true
[push]
	default = current
[credential]
	helper = cache --timeout=28800
[alias]
	co = checkout
    rb = rebase
	ci = commit
	br = branch -v
	st = status
	mg = merge
    gr = grep -I --ignore-case
[difftool]
	prompt = false
